html, body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  color: black;
  line-height: $globalLineHeight;
}

html {
  @extend .full;
  overflow-x: hidden;
}

#app-container  {
  // font smoothing
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

  // disable text-selection & text cursor
  // @include user-select(none);
  cursor: default;

  // overall text params
  font-size: $globalFontSize;

  position: absolute;
  @extend .full;
}

#app-template {
  @extend .full;
}

#base-pager, #pages-container {
  @extend .full;
}

#pages-container {
  position: absolute;
  z-index: 10;
  & > div {
    @extend .full;
    position: absolute;
  }
}

#front-block {
  @extend .full;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  visibility: hidden;
}
