html, body {
  padding: 0;
  margin: 0;
  font-family: 'BatterseaSLAB', Arial, sans-serif;
  font-weight: 600;
  color: $black;
  font-size: $globalFontSize;
  line-height: $globalLineHeight;
  letter-spacing: $globalLetterSpacing;
  overflow: hidden;

  @media (max-width: $MQ_SMALL) {
    font-size: $mobileFontSize;
    line-height: $mobileLineHeight;
    letter-spacing: $mobileLetterSpacing;
  }
}

html {
  @extend .full;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
}

#app-container  {
  // font smoothing
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

  // disable text-selection & text cursor
  // @include user-select(none);
  cursor: url('/assets/images/cursor.svg'), auto !important;
  // overall text params
  font-size: $globalFontSize;

  position: absolute;
  overflow: hidden;
  @extend .full;
}
#app-template {
  @extend .full;
}
#base-pager, #pages-container {
  @extend .full;
}
#pages-container {
  position: fixed;
  z-index: 10;
  & > div {
    @extend .full;
    position: fixed;
  }
}
#block-interaction-layer {
  @extend .full;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  visibility: hidden;
  background-color: $lightGrey;
  @include opacity(0);
}
#helper-layer {
  @extend .full;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  visibility: hidden;
  background-color: $lightGrey;
  opacity: 0;

  .info-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
  }
}
