* {
  backface-visibility: hidden;
  user-select: none;
  transform-style: flat;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-drag: none;
  outline: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
button {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  cursor: pointer;
}
img {
  border:0;
  border-style:none;
  outline : none;
  border: none;
}
svg, svg * {
  backface-visibility: hidden;
}
.clear-float {
  clear: both;
}
img {
  width: 100%;
}
a:-moz-focus-inner {
  border: 0;
  outline: none;
}
a:focus {
  border: 0;
  outline: none;
}
// for firefox image scale smoothing
img {
  -ms-interpolation-mode: bicubic;
}
// for ie
img {
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
  zoom: 1;
}
.btn {
  cursor: url('/assets/images/cursor-hover.svg'), auto;
}
.relative {
  position: relative;
  width: 100%;
  height: 100%;
}
.full {
  width: 100%;
  height: 100%;
}
.top-left {
  top: 0;
  left: 0;
}
.vertical-center-parent {
  width: 100%;
  height: 100%;
  display: table;
}
.vertical-center-child {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.full-block {
  position: absolute;
  @extend .top-left;
}
a {
  text-decoration: none;
}
#app-container {
  position: absolute 0 0;
}
#page-a, #page-b {
  overflow: hidden;
  & > div {
    opacity: 0;
  }
}
.main-btn {
  & > div, .holder > div {
    position: absolute;
  }
  .holder {
    @extend .full;
  }
  .title {
    white-space: nowrap;
    z-index: 2;
  }
  &.hover .title {
    color: $pink;
  }
  .background {
    @extend .full;
    // background-color: red;
  }
  .holder {
    @include opacity(0);
    @include anim(.8s, .0s, $easeOutCirc, scale(1));
  }
  &.show {
    .holder {
      @include opacity(1);
      @include anim(1.8s, .0s, $easeOutCirc, scale(1));
    }
  }
}
.link {
  color: $black;
  position: relative;
  font-size: $globalFontSize;
  line-height: $globalLineHeight;
  box-sizing: border-box;
  @media (max-width: $MQ_SMALL) {
    font-size: $mobileFontSize;
    line-height: $mobileLineHeight;
  }
  &--hidden {
    opacity: 0;
  }
  &:visited {
    color: $black;
  }
  @include simpleAnim(.8s, .0s, $easeOutCirc, opacity);
}
// #app-template.home .link {
//   color: $white;
// }
// #app-template.project .link {
//   color: $black;
// }
// #app-template.about .link {
//   color: $black;
// }
.preview-link {
  position: fixed;
  text-transform: uppercase;
  pointer-events: none;
}
.next-previous-container {
  position: fixed;
  @extend .top-left;
  .main-btn {
    text-transform: uppercase;
    position: fixed;
    &:after {
      content: '';
      position: absolute -40px 50%;
      width: 80vh;
      height: 51vw;
      transform: translate(-50%);
      @media (max-width: $MQ_SMALL) {
        height: (2 * $globalMargin) + $mobileLineHeight;
      }
    }
    &.previous {
      cursor: url('/assets/images/arrow-left.svg'), auto;
      transform: rotateZ(-90deg) translate(-100%, -100%) !important;
      @media (max-width: $MQ_SMALL) {
        transform: rotateZ(-90deg) translate(-100%, -50%) !important;
      }
    }
    @keyframes blink {
      0% { color: $black; }
      80% { color: $black; }
      100% { color: $pink; }
    }
    &.next {
      cursor: url('/assets/images/arrow-right.svg'), auto;
      @media (max-width: $MQ_SMALL) {
        transform: rotateZ(90deg) translate(0%, 50%) !important;
      }
      &.last .title {
        // color: $pink !important;
        animation: blink 1.5s infinite;
      }
    }
    .title {
      // color: $black !important;
    }
  }
}
#app-template.home .next-previous-container .main-btn.next.last polygon {
  fill: $white;
}
#app-template.project .next-previous-container .main-btn.next.last polygon {
  fill: $black;
}
#app-template.about .next-previous-container .main-btn.next.last polygon {
  fill: $white;
}
.bottom-project-title {
  position: fixed;
  bottom: $globalMargin;
  left: 0;
  right: 0;
  font-weight: bold;
  text-transform: uppercase;
  width: 100% !important;

  .title {
    left: 0;
    right: 0;
    text-align: center !important;
  }
}
.bottom-project-informations {
  position: fixed;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  @media (max-width: $MQ_SMALL) {
    bottom: $globalMargin;
    right: $globalMargin;
  }


  .title {
    padding: $globalMargin;
    @media (max-width: $MQ_SMALL) {
      transform-origin: right center;
      position: absolute;
      right: $mobileMargin * 2;
      bottom: -$mobileMargin * 1.5;
      padding: $mobileMargin 0 $mobileMargin $mobileMargin;
      transform: rotate(90deg) translateY(-50%) !important;
    }
  }
}
.bottom-project-counter {
  position: fixed;
  bottom: $globalMargin;
  left: $globalMargin;
}
#canvas-container {
  position: fixed;
  background-color: $lightGrey;
  @extend .full;
}
.st0{fill:#F7A0F9;}
.st1{fill:#FFFFFF;}
.video-btn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  cursor: url('/assets/images/play.svg'), auto;
  pointer-events: none;
  z-index: 1;

  &.playing {
    cursor: url('/assets/images/pause.svg'), auto;
  }
}

video {
  position: fixed 0 0;
  width: 100%;
  height: 100%;
  display: none;
}
