* {
  backface-visibility: hidden;
  user-select: none;
  transform-style: flat;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-drag: none;
  outline: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
button {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  cursor: pointer;
}
img {
  border:0;
  border-style:none;
  outline : none;
  border: none;
}
svg, svg * {
  backface-visibility: hidden;
}
.clear-float {
  clear: both;
}
img {
  width: 100%;
}
a:-moz-focus-inner {
  border: 0;
  outline: none;
}
a:focus {
  border: 0;
  outline: none;
}
// for firefox image scale smoothing
img {
  -ms-interpolation-mode: bicubic;
}
// for ie
img {
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
  zoom: 1;
}
.btn {
  cursor: pointer;
}
.relative {
  position: relative;
  width: 100%;
  height: 100%;
}
.full {
  width: 100%;
  height: 100%;
}
.top-left {
  top: 0;
  left: 0;
}
.vertical-center-parent {
  width: 100%;
  height: 100%;
  display: table;
}
.vertical-center-child {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.full-block {
  position: absolute;
  @extend .top-left;
}
a {
  text-decoration: none;
}
#app-container {
  position: absolute 0 0;
}
#page-a, #page-b {
  overflow: hidden;
  & > div {
    opacity: 0;
  }
}
.main-btn {
  & > div, .holder > div {
    position: absolute;
  }
  .holder {
    @extend .full;
  }
  .title {
    white-space: nowrap;
    z-index: 2;
  }
  .background {
    @extend .full;
    // background-color: red;
  }
  .line {
    background-color: $black;
    @include anim(.8s, .0s, $easeInOutCirc, scaleY(0), 0%, 0%);
  }
  .holder {
    @include opacity(0);
    @include anim(.8s, .0s, $easeOutCirc, scale(1));
  }
  &.hover {
    .line {
      @include anim(.4s, .0s, cubic-bezier(0,.63,0,1.07), scaleY(1), 0%, 0%);
    }
  }
  &.show {
    .holder {
      @include opacity(1);
      @include anim(1.8s, .0s, $easeOutCirc, scale(1));
    }
  }
}
#app-template.home .main-btn .line {
  background-color: $black;
}
#app-template.project .main-btn .line {
  background-color: $white;
}
#app-template.about .main-btn .line {
  background-color: $black;
}
.link {
  color: $black;
  position: relative;
  font-size: $globalFontSize;
  line-height: $globalLineHeight;
  box-sizing: border-box;
  text-transform: capitalize;
  @media (max-width: $MQ_SMALL) {
    font-size: $mobileFontSize;
    line-height: $mobileLineHeight;
  }
  &--hidden {
    opacity: 0;
  }
  @include simpleAnim(.8s, .0s, $easeOutCirc, opacity);
}
#app-template.home .link {
  color: $black;
}
#app-template.project .link {
  color: $white;
}
#app-template.about .link {
  color: $black;
}
.preview-link {
  position: fixed;
  right: 200px;
  top: 0;
}
.next-previous-container {
  position: fixed;
  @extend .top-left;
  .main-btn {
    position: fixed;
    &:after {
      content: '';
      position: absolute -40px 50%;
      width: 80vh;
      height: 30vw;
      transform: translate(-50%);
    }
    &.previous {
      transform: rotateZ(-90deg) translate(-100%, -100%) !important;
    }
    &.next {
      .next-arrow {
        position: absolute;
        left: 50%;
        top: 36px;
        transform-origin: center center;
        @include opacity(0);
        transform: translateX(-50%) rotate(-90deg);

        polygon {
          fill: $black;
        }
      }
      &.hover.last .next-arrow {
        @include opacity(1);
      }
    }
  }
}
#app-template.home .next-previous-container .main-btn.next.last polygon {
  fill: $black;
}
#app-template.project .next-previous-container .main-btn.next.last polygon {
  fill: $white;
}
#app-template.about .next-previous-container .main-btn.next.last polygon {
  fill: $black;
}
.bottom-project-title {
  position: relative;
  top: 100%;
  margin: 0 auto;
  margin-top: - $globalFontSize - $globalMargin;
  font-weight: bold;

  @media (max-width: $MQ_SMALL) {
    margin-top: - $mobileLineHeight - $globalMargin;
  }

  .title {
    left: 0;
    right: 0;
    text-align: center !important;
  }
}
.bottom-project-informations {
  position: absolute;
  bottom: $globalFontSize;
  right: $globalMargin;

  .title {
    @media (max-width: $MQ_SMALL) {
      transform-origin: right center;
      position: absolute;
      right: $mobileMargin;
      bottom: 0;
      transform: rotate(90deg) translateY(-50%) !important;
    }
  }
}
.bottom-project-counter {
  position: absolute;
  bottom: $globalMargin;
  left: $globalMargin;
}
