// Custom vars
$globalFontSize: 18px;
$globalLineHeight: 26px;
$globalMargin: 20px;

$mobileFontSize: 14px;
$mobileMargin: 10px;

// Breakpoints
$MQ_SMALL: 1024px;

// Color
$white: #ffffff;
$black: #000000;
