// Custom vars
$globalFontSize: 18px;
$globalLineHeight: 26px;
$globalLetterSpacing: 0.3px;
$globalMargin: 20px;

$mobileFontSize: 14px;
$mobileLineHeight: 16px;
$mobileLetterSpacing: 0.23px;
$mobileMargin: 10px;

// Breakpoints
$MQ_SMALL: 1024px;

// Color
$white: #ffffff;
$black: #000000;
$lightGrey: #bbbbbb;
