// Custom vars
$globalFontSize: 18px;
$globalLineHeight: 20px;
$globalMargin: 40px;

$mobileFontSize: 14px;
$mobileMargin: 22px;

// Breakpoints
$MQ_SMALL: 1024px;

// Color
$white: #ffffff;
$black: #000000;
