<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>VOLONTIERS</title>
      <meta name="description" content="VOLONTIERS conceives and produces original, aesthetic and unforgettable events.">
      <meta name="keywords" content="event, paris, production, set design, événement, design, agence, display, scénographie, agencement">
      <meta name="author" content="Volontiers">
      <meta name="copyright" content="© Copyright 2019 - Volontiers" />
      <meta name="location" content="Paris, FRANCE">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <base href="/">

      <!-- Favicon -->
      <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png" sizes="16x16">
      <link rel="manifest" href="/assets/favicon/manifest.json">
      <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#000000">
      <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
      <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
      <meta name="theme-color" content="#ffffff">

      <!-- Facebook meta -->
      <meta property="og:title" content="VOLONTIERS"/>
      <meta property="og:type" content="website">
      <meta property="og:image" content="http://volontiers.fr/assets/social.jpg"/>
      <meta property="og:url" content="http://volontiers.fr"/>
      <meta property="og:description" content="VOLONTIERS conceives and produces original, aesthetic and unforgettable events.">
      <meta property="og:site_name" content="VOLONTIERS - Design and Production agency"/>

      <!-- Twitter meta -->
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@">
      <meta name="twitter:creator" content="@convoystudio">
      <meta name="twitter:title" content="VOLONTIERS - Retail and Event agency">
      <meta name="twitter:description" content="VOLONTIERS conceives and produces original, aesthetic and unforgettable events.">
      <meta name="twitter:image:src" content="http://volontiers.fr/assets/social.jpg">

      <!-- GOOGLE + Share -->
      <meta itemprop="name" content="VOLONTIERS - Retail and Event agency">
      <meta itemprop="description" content="VOLONTIERS conceives and produces original, aesthetic and unforgettable events.">
      <meta itemprop="image" content="http://volontiers.fr/assets/social.jpg">
    </head>
    <body>
      <div class="landing">
        <div class="landing__hero">
          <div class="landing__logo">
            <svg version="1.1" id="Calque_1" viewBox="0 0 952.4 121.1">
              <g class="letter-s">
                <g>
                  <path d="M509.9,95.5c0-28.2-22.8-51-51-51V19h-44.2c-4.3,7.5-6.8,16.2-6.8,25.5c0,28.2,22.8,51,51,51v25.5h44.2
                    C507.4,113.6,509.9,104.8,509.9,95.5z"/>
                </g>
                <circle cx="458.9" cy="31.8" r="12.8"/>
                <circle cx="458.9" cy="108.3" r="12.8"/>
              </g>
              <g class="letter-r">
                <path d="M510.2,70c0-28.2-22.8-51-51-51h-51v102h51c51,0,51,0,51,0L500,100.6C506.4,92.1,510.2,81.5,510.2,70z M459.2,87
                  c-9.4,0-17-7.6-17-17s7.6-17,17-17c9.4,0,17,7.6,17,17S468.6,87,459.2,87z"/>
                <circle class="st0" cx="459.2" cy="70" r="17"/>
                <circle cx="459.2" cy="70" r="12.8"/>
              </g>
              <g class="letter-t">
                <rect x="442" y="-14.8" transform="matrix(3.815443e-11 -1 1 3.815443e-11 422.9658 494.9973)" width="34" height="101.6"/>
                <rect x="441.9" y="19" transform="matrix(-1 -8.965063e-11 8.965063e-11 -1 917.7698 140.063)" width="34" height="102"/>
              </g>
              <g class="letter-v">
                <g>
                  <polygon points="442,121.1 459,121.1 408,19 		"/>
                  <polygon points="459,121.1 476,121.1 510,19 		"/>
                </g>
                <polygon class="st0" points="459,121.1 408,19 510,19 	"/>
              </g>
              <g class="letter-n">
                <path d="M494.7,19c-10.2,0-18.7,8.3-18.7,18.5V87l-33.8-68H408v102h34.2c15.7,0,26.5,0,34,0h17H510V19H494.7z"/>
                <circle class="st0" cx="493.2" cy="36" r="17"/>
                <circle cx="493.2" cy="36" r="12.8"/>
              </g>
              <g class="letter-e">
                <circle cx="458.9" cy="70" r="17"/>
                <polygon points="492.9,53 492.9,19 407.9,19 407.9,53 407.9,53 407.9,53 407.8,53 407.8,87 407.9,87 407.9,87 407.8,87 407.8,121 492.8,121 492.8,87 441.9,87 441.9,87 458.8,87 458.8,53 441.9,53 441.9,53 	"/>
                <circle class="st0" cx="458.9" cy="70" r="17"/>
                <circle cx="458.9" cy="70" r="12.8"/>
                <circle class="st0" cx="492.9" cy="104" r="17"/>
                <circle cx="492.9" cy="104" r="12.8"/>
                <circle class="st0" cx="492.9" cy="36" r="17"/>
                <circle cx="492.9" cy="36" r="12.8"/>
                </g>
              </g>
              <g class="letter-i">
                <rect x="441.9" y="19" width="34" height="102"/>
                <circle class="st0" cx="458.9" cy="19" r="17"/>
                <circle cx="458.9" cy="19" r="12.8"/>
              </g>
              <g class="letter-l">
                <rect x="407.9" y="19" width="34" height="102"/>
                <rect x="433.4" y="61.5" transform="matrix(4.497209e-11 -1 1 4.497209e-11 346.3337 554.4282)" width="34" height="85"/>
                <g>
                  <circle class="st0" cx="492.9" cy="104" r="17"/>
                  <circle cx="492.9" cy="104" r="12.8"/>
                </g>
              </g>
              <g class="letter-o_1">
                <path class="st0" d="M458.9,19c-28.2,0-51,22.8-51,51c0,28.2,22.8,51,51,51s51-22.8,51-51C509.9,41.9,487.1,19,458.9,19z M458.9,87
                  c-9.4,0-17-7.6-17-17c0-9.4,7.6-17,17-17s17,7.6,17,17C475.9,79.4,468.3,87,458.9,87z"/>
                <g>
                  <path d="M458.9,85.3c-8.4,0-15.3-6.8-15.3-15.3c0-8.4,6.8-15.3,15.3-15.3s15.3,6.8,15.3,15.3C474.1,78.4,467.3,85.3,458.9,85.3z"
                    />
                  <path class="st1" d="M458.9,57.3c7,0,12.8,5.7,12.8,12.8s-5.7,12.8-12.8,12.8s-12.8-5.7-12.8-12.8S451.8,57.3,458.9,57.3
                    M458.9,52.3c-9.8,0-17.8,8-17.8,17.8s8,17.8,17.8,17.8c9.8,0,17.8-8,17.8-17.8S468.7,52.3,458.9,52.3L458.9,52.3z"/>
                </g>
              </g>
              <g class="letter-o_2">
                <path class="st0" d="M459.2,19c-28.2,0-51,22.8-51,51s22.8,51,51,51s51-22.8,51-51S487.4,19,459.2,19z M459.2,87
                  c-9.4,0-17-7.6-17-17s7.6-17,17-17s17,7.6,17,17S468.6,87,459.2,87z"/>
                <g>
                  <path d="M459.2,85.3c-8.4,0-15.3-6.8-15.3-15.3s6.8-15.3,15.3-15.3c8.4,0,15.3,6.8,15.3,15.3S467.6,85.3,459.2,85.3z"/>
                  <path class="st1" d="M459.2,57.3c7,0,12.8,5.7,12.8,12.8s-5.7,12.8-12.8,12.8s-12.8-5.7-12.8-12.8S452.2,57.3,459.2,57.3
                    M459.2,52.3c-9.8,0-17.8,8-17.8,17.8s8,17.8,17.8,17.8c9.8,0,17.8-8,17.8-17.8S469,52.3,459.2,52.3L459.2,52.3z"/>
                </g>
              </g>
            </svg>
          </div>
          <h2 class="landing__baseline">DESIGN &amp; PRODUCTION</h2>
        </div>
      </div>
      <!--[if lt IE 7 ]> <div id="app-container" class="ie6"> <![endif]-->
      <!--[if IE 7 ]>    <div id="app-container" class="ie7"> <![endif]-->
      <!--[if IE 8 ]>    <div id="app-container" class="ie8"> <![endif]-->
      <!--[if IE 9 ]>    <div id="app-container" class="ie9"> <![endif]-->
      <!--[if (gt IE 9)|!(IE)]><!--><div id="app-container"></div> <!--<![endif]-->

      <script type="text/javascript">
        var ENV = 'PREPROD';
      </script>

      <script src="./libs/preloadjs.min.js"></script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-91101026-1', 'auto');
        ga('send', 'pageview');
      </script>
    </body>
</html>
