.project-infos {
  @extend .full;
  cursor: pointer;

  &__description {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);

    br {
      line-height: 2;
    }

    @media (max-width: $MQ_SMALL) {
      font-size: $mobileFontSize;
      $p: $mobileMargin * 1.5;
      padding: $p 12.5%;
      position: relative;
      top: initial;
      left: initial;
      width: auto;
      transform: none;

      br {
        display: none;
      }
    }
  }
}
#app-template {
  &.home .project-infos__description {
    color: $black;
  }
  &.project .project-infos__description {
    color: $white;
  }
  &.about .project-infos__description {
    color: $black;
  }
}
