.project-infos {
  @extend .full;
  cursor: url('/assets/images/close.svg'), auto;

  &__description {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $black;

    @media (min-width: $MQ_SMALL) {
      line-height: 24px;
    }

    br {
      line-height: 2;
    }

    @media (max-width: $MQ_SMALL) {
      $p: $globalMargin * 1.5;
      font-size: $mobileFontSize;
      line-height: $mobileLineHeight;
      padding: 0 $p;
      width: 100%;
      box-sizing: border-box;

      br {
        line-height: 1;
      }
    }
  }
}
