#about-page {
  @extend .full;
  position: absolute;
  z-index: 11;
  background-color: $white;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  $h: $mobileLineHeight + 2 * $globalMargin;
  @media (max-width: $MQ_SMALL) {
    &:before, &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      background-color: $white;
      height: $h;
      z-index: -1;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
  }

  &.show {
    pointer-events: auto;
    cursor: url('/assets/images/close.svg'), auto;
    visibility: visible;
  }

  .btn {
    &:hover {
      color: $pink !important;
    }
  }

  .wrapper {
    position: absolute 0 0;
    width: 100%;
    text-align: center;
    z-index: -2 !important;

    @media (max-width: $MQ_SMALL) {
      transform: none;
      top: $h;
      bottom: auto;
      left: 0;
      right: 0;
      width: 100%;
      $p: $globalMargin * 1.5;
      padding: 0 $p 0 $globalMargin;
      box-sizing: border-box;
      font-size: $mobileFontSize;
      line-height: $mobileLineHeight;
    }
  }

  .content {
    display: inline-block;
    width: 100%;
    @media (min-width: $MQ_SMALL) {
      position: absolute;
      top: 60%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  .description {
    padding: 0 11.5%;
    @media (max-width: $MQ_SMALL) {
      padding: 0;
    }
    p {
      display: inline-block;
      width: 33%;
      text-align: left;
      box-sizing: border-box;
      vertical-align: top;
      font-weight: 600;

      @media (min-width: $MQ_SMALL) {
        &:nth-child(1) {
          padding-right: 2.5%;
        }
        &:nth-child(2) {
          padding: 0 1.25%;
        }
        &:nth-child(3) {
          padding-left: 2.5%;
        }
      }
      @media (max-width: $MQ_SMALL) {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: $mobileMargin / 2;
        &:nth-child(3) {
          margin-bottom: 0;
        }
      }
    }

  }

  .catchline {
    margin-top: 5%;
    text-transform: uppercase;
  }
  .details {
    margin-top: 5%;
  }
  .rs {
    position: absolute;
    right: $globalMargin;
    bottom: $globalMargin;
    text-transform: uppercase;
  }
  .credits {
    position: absolute;
    left: $globalMargin;
    bottom: 0;

    @media (max-width: $MQ_SMALL) {
      position: relative;
      left: 0;
      bottom: 0;
    }

    &__btn {
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase;

      .title {
        padding: $globalMargin;
      }
    }
    &__list {
      display: none;
      opacity: 0;
      .link {
        line-height: $globalFontSize;
        @media (max-width: $MQ_SMALL) {
          line-height: $mobileFontSize;
        }
      }
    }
  }
}
