#about-page {
  @extend .full;
  position: absolute;
  z-index: 11;
  background-color: $white;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  &.show {
    pointer-events: auto;
    cursor: url('/assets/images/close.svg'), auto;
    visibility: visible;
  }

  .wrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 77%;
    text-align: center;

    @media (max-width: $MQ_SMALL) {
      transform: translateY(-50%);
      top: 50%;
      left: 0;
      width: 100%;
      padding: 0 $globalMargin;
      box-sizing: border-box;
      font-size: $mobileFontSize;
      line-height: $mobileLineHeight;
    }
  }

  .description {
    p {
      display: inline-block;
      width: 33%;
      text-align: left;
      box-sizing: border-box;
      vertical-align: top;

      @media (min-width: $MQ_SMALL) {
        &:nth-child(1) {
          padding-right: 2.5%;
        }
        &:nth-child(2) {
          padding: 0 1.25%;
        }
        &:nth-child(3) {
          padding-left: 2.5%;
        }
      }
      @media (max-width: $MQ_SMALL) {
        display: block;
        width: 100%;
        padding: 0;

        br {
          line-height: 1;
        }
      }
    }

  }

  .catchline {
    margin-top: 5%;
  }
  .details {
    margin-top: 5%;
  }
  .rs {
    position: absolute;
    right: $globalMargin;
    bottom: $globalMargin;
    text-transform: uppercase;

    @media (max-width: $MQ_SMALL) {
      right: $mobileMargin;
      bottom: $mobileMargin;
    }
  }
}
