#about-page {
  @extend .full;
  position: absolute;
  transform: translateY(-100%);
  z-index: 11;
  background-color: $white;
  pointer-events: none;

  &.show {
    pointer-events: auto;
    cursor: url('/assets/images/close.svg'), auto;
  }

  .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;

    @media (min-width: $MQ_SMALL) {
      line-height: 24px;
    }

    br {
      line-height: 2;
    }

    @media (max-width: $MQ_SMALL) {
      $p: $globalMargin * 1.5;
      font-size: $mobileFontSize;
      line-height: $mobileLineHeight;
      padding: 0 $p;
      width: 100%;
      box-sizing: border-box;

      br {
        line-height: 1;
      }
    }
  }
}
