.navigation {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding: 0 $globalMargin;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (max-width: $MQ_SMALL) {
    padding: 0 $mobileMargin;
    height: 42px;
    line-height: 42px;

    > .link {
      padding-left: 0;
    }
  }

  &__right {
    position: absolute;
    right: 22px;
    top: 0;
    display: inline-block;

    ul {
      display: inline-block;
      li {
        display: inline-block;

        &:last-child() {
          padding-left: 24px;
        }

        a {
          display: inline-block;
          vertical-align: middle;
        }

        @media (max-width: $MQ_SMALL) {
          transform-origin: right center;
          &:nth-child(1) {
            position: absolute;
            right: 22px;
            top: 70px;
            transform: rotate(90deg) translateY(-50%)
          }
          &:nth-child(2) {
            position: absolute;
            right: 22px;
            top: 85px;
            transform: rotate(90deg) translateY(-50%)
          }
          &:nth-child(3) {
            position: absolute;
            right: 22px;
            top: 105px;
            transform: rotate(90deg) translateY(-50%)
          }
          &:last-child() a {
            padding-right: 0;
          }
        }
      }
    }
  }

  &__center {
    $size: 13px;
    width: $size;
    height: $size;
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -$size / 2;
  }
}
