.navigation {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: $globalLineHeight * 2;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-top: $globalMargin;
  pointer-events: none;
  @include anim(.8s, .5s, $easeOutExpo, translateY(0));
  &.hide {
    @include anim(.8s, .0s, $easeOutExpo, translateY(-($globalMargin * 4)));
  }
  .link.projects {
    margin-left: $globalMargin;
    z-index: 5;
  }
  @media (max-width: $MQ_SMALL) {
    height: $mobileLineHeight * 2;
    > .link {
      padding-left: 0;
    }
  }
  .top-projects-title {
    top: 0;
    left: $globalMargin;
    position: absolute;
    z-index: 7;
    pointer-events: all;
    @media (min-width: $MQ_SMALL) {
      margin-top: -$globalMargin;
      left: 0;
      padding: $globalMargin;
    }
  }
  &__right {
    position: absolute;
    right: $globalMargin;
    top: 0;
    display: inline-block;
    z-index: 7;
    ul {
      display: inline-block;
      li {
        display: inline-block;
        pointer-events: all;
        @media (min-width: $MQ_SMALL) {
          &:first-child { // about btn
            margin-top: -($globalMargin);
            margin-right: -($globalMargin);
            .title {
              padding: $globalMargin;
            }
          }
          &:last-child { // lang btn
            margin-top: -($globalMargin);
            .title {
              $r: $globalFontSize * 2;
              // padding: $globalMargin $r $globalMargin $globalMargin;
              padding: $globalMargin;
            }
          }
          .lang-separator {
            position: absolute;
            top: 0;
          }
          .lang-button--en .title {
            padding-right: $globalMargin / 2;
          }
          .lang-button--fr .title {
            padding-left: $globalMargin / 2;
          }
        }
        &:last-child() { // lang btn
          float: left;
          padding-right: $globalFontSize * 3;
        }

        @media (max-width: $MQ_SMALL) {
          &:nth-child(1) { // about btn
            position: absolute;
            right: 0;
            top: 0;
          }
          &:last-child { // lang btn
            position: absolute;
            top: $globalMargin + $mobileLineHeight;
            left: $mobileMargin;

            .title {
              padding: $mobileMargin / 2;
            }
          }
          .lang-separator {
            width: 2px;
            font-size: $mobileFontSize;
            display: inline-block;
            transform: translateX(-12px) rotateZ(-90deg);
            transform-origin: center left;
          }
          .lang-button {
            &.lang-button--en .title {
              padding-right: 0;
            }
            &.lang-button--fr .title {
              padding-left: 0;
            }
          }
        }
        .lang-button {
          display: inline-block;
        }
      }
    }
  }

  &__center {
    display: inline-block;
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 7;
    height: $globalLineHeight * 2;
    @media (max-width: $MQ_SMALL) {
      height: $mobileLineHeight * 2;
    }

    .top-logo-title {
      text-align: center;
      cursor: url('/assets/images/cursor-hover.svg'), auto;
      opacity: 0;
      display: inline-block;
      height: $globalLineHeight * 2;
      overflow-y: visible;
      pointer-events: all;
      @media (max-width: $MQ_SMALL) {
        height: $mobileLineHeight * 2;
      }
      &.show {
        opacity: 1;
        @include anim(1.8s, .0s, $easeOutCirc, scale(1));
      }
      svg {
        pointer-events: none;
        height: $mobileFontSize * 5;
        @media (min-width: $MQ_SMALL) {
          margin-top: -($globalLineHeight / 2);
          height: $globalLineHeight * 10;
        }
      }
    }
  }
}
