.navigation {
  position: fixed;
  z-index: 999999;
  width: 100%;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-top: $globalMargin;
  @include anim(.8s, .5s, $easeOutExpo, translateY(0));
  &.hide {
    @include anim(.8s, .0s, $easeOutExpo, translateY(-($globalMargin * 4)));
  }
  .link.projects {
    margin-left: $globalMargin;
    z-index: 5;
  }
  @media (max-width: $MQ_SMALL) {
    > .link {
      padding-left: 0;
    }
  }
  .top-projects-title {
    top: 0;
    left: $globalMargin;
    position: absolute;
    z-index: 5;
  }
  &__right {
    position: absolute;
    right: $globalMargin;
    top: 0;
    display: inline-block;
    z-index: 5;
    .navigation__spacer {
      margin: 0 8px;
      position: relative;
      top: -4px;
    }
    ul {
      display: inline-block;
      li {
        display: inline-block;

        &:last-child() {
          padding-left: 24px;
        }

        a {
          display: inline-block;
          vertical-align: middle;
        }

        @media (max-width: $MQ_SMALL) {
          transform-origin: right center;
          &:nth-child(1) {
            position: absolute;
            right: 42px;
            top: 70px;
            transform: rotate(90deg) translateY(-50%)
          }
        }
      }
    }
  }

  &__center {
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 5;
  }
}
