#projects-overview {
	$thumbScale: 1;
	$thumbMobileScale: 0.6;
	$thumbW: 238px;
	$thumbH: 159px;
	position: fixed;
	z-index: 6;
	@extend .top-left;
	@include anim(.0s, .0s, $easeOutExpo, translateY(-99999px) translateZ(1px));
	@media (max-width: $MQ_SMALL) {
		margin-top: $globalMargin * 1.5;
	}
	pointer-events: all;
	.btn > * {
		pointer-events: none;
	}
	$desktopGradientH: (2 * $globalMargin) + $globalLineHeight;
	&:before {
		pointer-events: none;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 15%;
		width: 100%;
		background: linear-gradient(to bottom, rgba($lightGrey, 1) $desktopGradientH,rgba($lightGrey, 0) 100%);
		margin-top: -$globalMargin;
		z-index: 4;

		@media (max-width: $MQ_SMALL) {
			margin-top: 0;
			height: $thumbH * $thumbMobileScale;
			width: 20%;
			background: linear-gradient(to right, rgba($lightGrey, 1) 0%,rgba($lightGrey, 0) 100%);
		}
	}

	&:after {
		pointer-events: none;
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		height: 10%;
		width: 100%;
		background: linear-gradient(to top, rgba($lightGrey, 1) 0%,rgba($lightGrey, 0) 100%);
		z-index: 4;
		@media (max-width: $MQ_SMALL) {
			bottom: $mobileLineHeight + $globalMargin * 3.2;
			right: 0;
			left: auto;
			height: $thumbH * $thumbMobileScale;
			width: 20%;
			background: linear-gradient(to left, rgba($lightGrey, 1) 0%,rgba($lightGrey, 0) 100%);
		}
	}

	&.project {
		&:before {
			background: linear-gradient(to bottom, rgba($white, 1) $desktopGradientH,rgba($white, 0) 100%);
			@media (max-width: $MQ_SMALL) {
				background: linear-gradient(to right, rgba($white, 1) 0%,rgba($white, 0) 100%);
			}
		}
		&:after {
			background: linear-gradient(to top, rgba($white, 1) 0%,rgba($white, 0) 100%);
			@media (max-width: $MQ_SMALL) {
				background: linear-gradient(to left, rgba($white, 1) 0%,rgba($white, 0) 100%);
			}
		}
	}

	&.open {
		@include anim(.0s, .0s, $easeOutExpo, translateY(0px) translateZ(0px));
	}
	.background {
		position: absolute;
		z-index: 2;
		@extend .top-left;
		@extend .full;
	}
	.titles-container {
		position: absolute;
		z-index: 1;
		@extend .top-left;
		@extend .full;
		@media (max-width: $MQ_SMALL) {
			z-index: 7;
			pointer-events: none;

			.event-title {
				left: $mobileMargin !important;
				top: (($thumbH * $thumbMobileScale) / 2) - ($mobileLineHeight / 2);
				// margin-top: $globalMargin / 2 !important;
			}
			.retail-title {
				right: $mobileMargin !important;
				bottom: ($thumbH * $thumbMobileScale);
				margin-bottom: $globalMargin !important;
				margin-right: -($globalMargin);
			}
		}
		.event-title, .retail-title {
			position: absolute;
			transform-origin: center center !important;
		}
		.event-title {
			left: ($thumbW * $thumbScale) + ($globalMargin * 2);
			margin-left: -$globalLineHeight;
		}
		.retail-title {
			right: ($thumbW * $thumbScale) + ($globalMargin * 2);
			margin-right: -$globalLineHeight;
		}
	}
	.projects-container {
		position: absolute;
		z-index: 3;
		& > li {
			list-style-type: none;
			width: $thumbW * $thumbScale;
			height: $thumbH * $thumbScale;
			position: relative;
			margin: ($globalMargin / 2) 0;

			@media (max-width: $MQ_SMALL) {
				display: inline-block;
				margin: 0 ($mobileMargin / 2);
				$w: $thumbW * $thumbMobileScale - $mobileMargin;
				width: $w;
				height: $thumbH * $thumbMobileScale;
			}

			&.hide {
				display: none;
			}
			.project-container {
				@extend .full;
			}
			.title-holder, .thumbnail-holder {
				@extend .full;
				position: absolute;
				text-transform: capitalize;
			}
			.thumbnail-holder {
				@include opacity(1);
	      		@include anim(.8s, .0s, $easeOutExpo, scale(1));
			}
			.title-holder {
				z-index: 2;
				@include opacity(0);
      			@include anim(.8s, .0s, $easeOutExpo, scale(1));
				p {
					padding: 20px;
					@media (max-width: $MQ_SMALL) {
						font-size: $mobileFontSize;
						line-height: $mobileLineHeight;
					}
					span {
						text-transform: uppercase;
					}
				}
			}
			&:hover {
				.title-holder {
					@include opacity(1);
	      			@include anim(.6s, .0s, $easeOutExpo, scale(1));
				}
				.thumbnail-holder {
					@include opacity(0);
	      			@include anim(.6s, .1s, $easeOutExpo, scale(1));
				}
			}
		}
		&.event {
			left: $globalMargin;

			@media (max-width: $MQ_SMALL) {
				left: 0;
				top: 0;
			}
		}
		&.retail {
			right: $globalMargin;

			@media (max-width: $MQ_SMALL) {
				right: 0;
				bottom: $mobileLineHeight + $globalMargin * 3;
			}
		}
	}
}
